.area__slide {
  position: relative;
  width: 100%;
  height: 99.4rem;
}

.slide__hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide__hero .swiper-slide {
}

.main-area {
  background: url("../assets/bg-red.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 70.6rem;
}

/* .slide__hero__content{
  margin-top: ;
} */

.slide__hero__content .slide__hero__image {
  margin-top: 2rem;
}
